<br>
<br>
<div class="container">

    <div class="row">

        <div class="col-4 d-flex justify-content-center">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><img src="assets/images/profile-img.png" alt=""></td>
                    </tr>
                    <tr>
                        <td><a routerLink="/seller-login" (click)="onAdminLogout()"><button>Log Out</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-8">
            <table class="table table-bordered">
                <tbody class="details">
                    <tr>
                        <td>Shop Name</td>
                        <td>wowShop</td>
                    </tr>
                    <tr>
                        <td>Shop Address</td>
                        <td>West Bengal</td>
                    </tr>
                    <tr>
                        <td>Shop Contact Number</td>
                        <td>9999999999</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>