
<div class="container-fluid">

    <div class="row">

        <div class="col-7">

            <table class="table">
                <thead>
                    <tr>
                      <th>Cart Items</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                    <td>
                        <div class="row prodRow">
                            <div class="col-3 d-flex justify-content-center">
                                <a routerLink="/user-product-detail"><img src="assets/images/mobile.jpg" alt="Denim Jeans" style="width:100%"></a>
                            </div>
                            <div class="col-9 prodDetailColumn">
                                <a routerLink="/user-product-detail"><h3>Oppo a</h3></a>
                                <a routerLink="/user-product-detail"><p class="price">$12</p></a>
                                <p><button routerLink="">Remove</button></p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row prodRow">
                            <div class="col-3 d-flex justify-content-center">
                                <a routerLink="/user-product-detail"><img src="assets/images/mobile.jpg" alt="Denim Jeans" style="width:100%"></a>
                            </div>
                            <div class="col-9 prodDetailColumn">
                                <a routerLink="/user-product-detail"><h3>Oppo a</h3></a>
                                <a routerLink="/user-product-detail"><p class="price">$12</p></a>
                                <p><button routerLink="">Remove</button></p>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <thead>
                    <tr>
                      <th style="text-align: right;"><button routerLink="" class="buy">Buy</button></th>
                    </tr>
                  </thead>
              </table>

        </div>

        <div class="col-5 priceDetailsTableColumn">

            <table class="table priceDetailsTable">
                <thead>
                  <tr>
                    <th colspan="2">Price Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Price</td>
                    <td class="priceCol">$90</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td class="priceCol">$5</td>
                  </tr>
                </tbody>
                <thead>
                    <tr>
                      <th>Total</th>
                      <th class="priceCol">$95</th>
                    </tr>
                  </thead>
              </table>


        </div>

    </div>

</div>


