<div class="container-fluid">

  <div class="row">

    <div class="col-7">

      <table class="table">
        <thead>
          <tr>
            <th>Cart Items</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>
              <div class="row prodRow" *ngFor="let prod of currUser?.cart">
                <div class="col-3 d-flex justify-content-center">
                  <a [routerLink]="['/user-product-detail', prod.product.id]"><img src="assets/images/mobile.jpg"
                      alt="Denim Jeans" style="width:100%"></a>
                </div>
                <div class="col-6 prodDetailColumn">
                  <a [routerLink]="['/user-product-detail', prod.product.id]">
                    <h3>{{prod.product.name}}</h3>
                  </a>
                  <a>
                    <p class="price">Rs.{{prod.product.price}}</p>
                  </a>
                  <p><button #remove (click)="onRemove(remove)" [id]="prod.product.id">Remove</button></p>
                </div>
                <div class="col-3 prodCountColumn">

                  <button #decre (click)="increDecre(decre)" [id]="prod.product.id" name="-">-</button>
                  <input type="text" name="prodCount" [value]="prod.count" readonly>
                  <button #incre (click)="increDecre(incre)" [id]="prod.product.id" name="+">+</button>

                </div>
              </div>
            </td>
          </tr>

        </tbody>

        <thead *ngIf="buyBtnVisible">
          <tr>
            <th style="text-align: right;"><button (click)="onBuy()" class="buy">Buy</button></th>
          </tr>
        </thead>

        <thead *ngIf="!buyBtnVisible">
          <tr>
            <th style="text-align: center;">
              <img src="/assets/images/empty-wishlist.png" style="max-width: 250px; max-height: 250px;" alt="">
              <h4>Opps..your cart is empty!</h4><br><br>
              <button routerLink="/user-home" class="buy">Shop</button>
            </th>
          </tr>
        </thead>

      </table>

      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Order Placed!</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
              <img src="/assets/images/order-success.png" alt=""
                style="max-width: 250px; max-height: 250px; text-align: center;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closePopup()">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- price recipt view -->
    <div class="col-5 priceDetailsTableColumn">

      <table class="table priceDetailsTable">
        <thead>
          <tr>
            <th colspan="2">Price Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Price</td>
            <td class="priceCol">Rs.{{subTotal}}</td>
          </tr>
          <tr>
            <td>Delivery Charge</td>
            <td class="priceCol">Rs.{{delivaryChrg}}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Total</th>
            <th class="priceCol">Rs.{{allTotal}}</th>
          </tr>
        </thead>
      </table>


    </div>

  </div>

</div>