<br>

<div class="row">
    <div class="col-md-5 col-12 d-flex justify-content-center">
        <img src="assets/images/mobile.jpg" alt="image">
    </div>
    <div class="col-md-7 col-12 d-flex justify-content-center flex-column column">
        <h1>{{product?.name}}</h1>
        <h3>Rs.{{product?.price}}</h3>
        <p>{{product?.description}}</p>
        <p><button #addToCart (click)="addToCartClicked(addToCart)" [id]="product?.id">Add to
                Cart</button></p>
        <p>
            <button *ngIf="wishlistBtnShow" class="wishlist" #addToWish (click)="addToWishClicked(addToWish)"
                [id]="product?.id">Add to Wishlist</button>
            <small *ngIf="!wishlistBtnShow" style="color: red;">Already in Wishlist</small>
        </p>

    </div>
</div>

<!-- routerLink="/user-wishlist" -->