
<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: right;">
            <a routerLink="/seller-add-product"><button>Add New Product</button></a>
        </div>
        <div class="col-12">

            <!-- all products list -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">All Products List</th>
                    </tr>
                </thead>

                <thead *ngIf="showEmptyIcon">
                    <tr>
                      <th style="text-align: center;">
                        <img src="/assets/images/empty-wishlist.png" style="max-width: 250px; max-height: 250px;" alt="">
                        <h4>Opps..no product to show, please add products!</h4><br><br>
                        <a routerLink="/seller-add-product"><button>Add New Product</button></a>
                      </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let prod of adminProductsArr">
                        <td style="width: 20%">
                            <a ><img src="assets/images/mobile.jpg" alt="Denim Jeans" style="width:100%"></a>
                        </td>
                        <td style="width: 60%">
                            <a ><h6>Id: {{prod.id}}</h6></a>
                            <a ><h2>{{prod.name}}</h2></a>
                            <a ><p class="price"><b>Price:</b> Rs.{{prod.price}}</p></a>
                            <a ><p><b>Product description:</b> {{prod.description}}</p></a>
                        </td>
                        <td style="width: 20%">
                            <p><button class="productActionBtnEdit" [id]="prod.id" #editBtn (click)="editProduct(editBtn)">Edit</button></p>
                            <p><button class="productActionBtnRemove" [id]="prod.id" #removeBtn (click)="removeProduct(removeBtn)">Remove</button></p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
