
<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: right;">
            <a routerLink="/seller-add-product"><button>Add New Product</button></a>
        </div>
        <div class="col-12">

            <!-- all products list -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">All Products List</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="width: 20%">
                            <a routerLink=""><img src="assets/images/mobile.jpg" alt="Denim Jeans" style="width:100%"></a>
                        </td>
                        <td style="width: 60%">
                            <a routerLink=""><h2>Oppo a</h2></a>
                            <a routerLink=""><p class="price">$12</p></a>
                            <a routerLink=""><p>Product Description</p></a>
                        </td>
                        <td style="width: 20%">
                            <p><button class="productActionBtnEdit" routerLink="">Edit</button></p>
                            <p><button class="productActionBtnRemove" routerLink="">Remove</button></p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
