<!-- <h1>WowShop</h1> -->

<!-- <ul>
  <li><img src="assets/images/wowShop.png" alt=""></li>
  <li style="float:right"><a routerLink="">Profile</a></li>
  <li style="float:right"><a routerLink="">Cart</a></li>
  <li style="float:right"><a routerLink="">Wishlist</a></li>
  <li style="float:right"><a routerLink="/user-registration">Signup</a></li>
  <li style="float:right"><a routerLink="/user-login">Login</a></li>
  <li style="float:right"><input type="text" placeholder="Search.." name="search"></li>
</ul> -->

<div *ngIf="currentRouteBool; else elseBlock">

<!-- seller navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark mb-3">
    <img src="assets/images/wowShop.png" class="navbar-brand" routerLink="/user-home">
    <a class="nav-link" routerLink="/user-login">User</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" *ngIf="showAdminNavOptions">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/seller-login">Login</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/seller-registration">Signup</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller-orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller-products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seller-profile">Profile</a>
        </li>
      </ul>
    </div>
  
  </nav>

</div>


<ng-template #elseBlock>

  <!-- user navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark mb-3">
    <img src="assets/images/wowShop.png" class="navbar-brand" routerLink="/user-home">
    <a class="nav-link" routerLink="/seller-login">Admin</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" *ngIf="!showUserNavOptions">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-registration">Signup</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="showUserNavOptions">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-wishlist">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-order-history">Order history</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-profile">Profile</a>
        </li>
      </ul>
    </div>
  
  </nav>

</ng-template>


<!-- {{currentRoute}} -->

<router-outlet></router-outlet>
