/* 


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

*/

img{
    padding-left: 40px;
    padding-top: 12px;
    width: 150px;
}

/* input[type=text] {
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 10px;
    width: 500px;
} */

.navbar{
  background-color: black;
}

nav .navbar-nav li a{
  color: white !important;
  margin-right: 10px;
}
