<br><br>
<div class="full">
    <h2>Log In</h2>
    
    <!-- <form onsubmit="return validate()" action="1.html"> -->
        <div class="container">
            <label for="email"><b>Email</b></label><br>
            <input #emailI type="email" id="email" placeholder="Email" name="email" required><br><br>
            <!-- <p id="alertU"></p><br> -->
    
            <label for="password"><b>Password</b></label><br>
            <input #pass type="text" id="password" placeholder="Password" name="password" type="password" required><br>
            <!-- <p id="alertP"></p><br> -->
    
            <p>New user? <a routerLink="/register">Register</a></p>
    
            <button type="submit">Submit</button>
        </div>
    <!-- </form> -->
    </div>
